body {
    background-color: white;
    font-family: Righteous, Arial, sans-serif;
    margin: 0px;
}

td {
    padding:0 10px;
    width: 300px;
}

#feedHeader {
    position: sticky;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #B6A697;
    display: flex;
    align-items: center;
    text-align: center;
}

.pageName {
    display: inline-block;
    margin-left: 2em;
    margin-right: auto;
    font-size: x-large;
    color: #F19830;
    font-weight: lighter;
    text-transform: uppercase;
}

.websiteName {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: xxx-large;
    font-weight: lighter;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dogBoneIcon {
    width: 50px;
    height: auto;
    transform: rotate(130deg);
}

.username {
    display: inline-block;
    align-content: center;
    font-size: large;
    color: white;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 10%;
}

.profileImage {
    width: auto;
    height: 100%;
    align-content: center;
}

#userDisplay {
    margin-left: auto;
    margin-right: 2em;
    align-items: center;
}

#createPostArea {
    display: inline-block;
    width: 100%;
}

#createPost {
    float: right;
    margin-right: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-radius: 12px;
    color: black;
    font-family: Righteous;
    font-size: larger;
    text-align: center;
}

#icons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 25%;
}

.iconBtn {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 0px;
    background: transparent;
    align-items: center;
}

.icon {
    width: 40px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

/*Wrapper for posts*/
#postsSpace {
    margin: 20px;
    text-align: center;
}

/*Table (1row) used for collection of posts*/
#posts {
    border: 0;
    width: 100%;
    cellpadding: 10;
    display: block;
}

#posts td {
    display: inline-block;
    text-align: left;
}

/* Styling for post type 1 - light gray background */
/* contains username, photo, description */
.post1 {
    color: #F19830;
    background: #ececec;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

/* Styling for post type 2 - dark gray background */
.post2 {
    color: cornflowerblue;
    background: #cecece;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.49);
    border-radius: 18px;
}

.user {
    text-transform: uppercase;
    margin: 10px;
}

.description {
    margin-bottom: 20px;
    margin: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: smaller;
}

.photo {
    width: 220px;
    height: 300px;
    object-fit: cover;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.photos {
    text-align: center;
}

#popUp {
    background: #B6A697;
    width: 750px;
    height: 500px;
    border-radius: 30px;
    margin: 0 auto;
    display: none;
}

#uploadForm {
    background-color: white;
}

#leftside {
    text-align: center;
    display: inline-block;
    padding-left: 15px;
    padding-top: 10px;
    width: 300px;
    float: left;
    overflow: auto;
}

#rightside {
    width: 400px;
    float: right;
}

#bigCircle {
    width: 75px;
    height: 75px;
}

#bigU {
    font-size: 30px;
    font-weight: lighter;
    margin: 0px;
}

#uploadIcon {
    width: 100px;
    height: 100px;
    display: block;
    background-image: url("../images/uploadIcon.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-image: url("../images/uploadIcon.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
    background-color: white;
}

#uploadText {
    padding-top: 200px;
    font-size: x-large;
    color: black;
}

#textArea {
    height: 300px;
}

#descript {
    margin-top: 15px;
    background: #C4C4C4;
    border: none;
    padding: 10px;
    font-family: Righteous;
    color: white;
    border-radius: 11px;;
}

#remaining {
    float: right;
    margin-right: 60px;
}

#buttons {
    padding-right: 60px;
}

.button {
    font-family: Righteous;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-size: x-large;
    color: white;
}

#cancel {
    float: left;
    background-color: #F13030;
}

#post {
    float: right;
    background-color: rgba(110, 241, 48, 0.81);
}



