body {
    background-color: white;
    font-family: Righteous, Arial, sans-serif;
    margin: 0px;
}

td {
    padding:0 10px;
    width: 300px;
}

#feedHeader {
    position: sticky;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #B6A697;
    display: flex;
    align-items: center;
    text-align: center;
}

.pageName {
    display: inline-block;
    margin-left: 2em;
    margin-right: auto;
    font-size: x-large;
    color: #F19830;
    font-weight: lighter;
    text-transform: uppercase;
}

.websiteName {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: xxx-large;
    font-weight: lighter;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.dogBoneIcon {
    width: 50px;
    height: auto;
    transform: rotate(130deg);
}

.username {
    display: inline-block;
    align-content: center;
    font-size: 30px;
    color: white;
}

#userBtn {
    border: none;
    background-color: #b6a697;
    font-family: Righteous;
    margin: 5px 0px;
    color: white;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profileImage {
    width: auto;
    height: 100%;
    align-content: center;
}

#userDisplay {
    margin-left: auto;
    margin-right: 2em;
    align-items: center;
}

#createPostArea {
    display: inline-block;
    width: 100%;
}

#createPost {
    float: right;
    margin-right: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    border-radius: 12px;
    color: black;
    font-family: Righteous;
    font-size: larger;
    text-align: center;
}

#icons {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 25%;
}

.iconBtn {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 0px;
    background: transparent;
    align-items: center;
    float: left;
}

.icon {
    width: 40px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

/*Wrapper for posts*/
#postsSpace {
    margin: 20px;
    text-align: center;
}

/*Table (1row) used for collection of posts*/
#posts {
    border: 0;
    width: 100%;
    cellpadding: 10;
    display: block;
}

#posts td {
    display: inline-block;
    text-align: left;
}

/* Styling for post type 1 - light gray background */
/* contains username, photo, description */
.post1 {
    color: #F19830;
    background: #ececec;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

/* Styling for post type 2 - dark gray background */
.post2 {
    color: cornflowerblue;
    background: #cecece;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.49);
    border-radius: 18px;
}

.user {
    text-transform: uppercase;
    margin: 10px;
}

.description {
    margin-bottom: 20px;
    margin: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: smaller;
}

.photo {
    width: 220px;
    height: 300px;
    object-fit: cover;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.photos {
    text-align: center;
}

#popUp {
    background: #B6A697;
    width: 750px;
    height: 500px;
    border-radius: 30px;
    margin: 0 auto;
    display: none;
}

#uploadForm {
    background-color: white;
}

#leftside {
    text-align: center;
    display: inline-block;
    padding-left: 15px;
    padding-top: 10px;
    width: 300px;
    float: left;
    overflow: auto;
}

#rightside {
    width: 400px;
    float: right;
}

#bigCircle {
    width: 75px;
    height: 75px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 25px;
}

#bigU {
    font-size: 30px;
    font-weight: lighter;
    margin: 0px;
}

#uploadIcon {
    width: 100px;
    height: 100px;
    display: block;
    background-image: url("../images/uploadIcon.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-image: url("../images/uploadIcon.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
    background-color: white;
}

#uploadText {
    padding-top: 200px;
    font-size: x-large;
    color: black;
}

#textArea {
    height: 300px;
}

#descript {
    margin-top: 15px;
    background: #C4C4C4;
    border: none;
    padding: 10px;
    font-family: Righteous;
    color: white;
    border-radius: 11px;;
}

#remaining {
    float: right;
    margin-right: 60px;
}

#buttons {
    padding-right: 60px;
}

.button {
    font-family: Righteous;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-size: x-large;
    color: white;
}

#cancel {
    float: left;
    background-color: #F13030;
}

#post {
    float: right;
    background-color: rgba(110, 241, 48, 0.81);
}

/* Upload Image Preview */
#previewHolder {
    border-radius: 3px;
    border: 5px solid white;
    width:250px;
    height:300px;
    display: none;
    background: white;
    margin-left: 15px;
}
#instructions {
    text-align: center;
}

/* pop up when user has new posts */
#newPostsNotif {
    text-align: center;
}
h3 a {
    color: #B6A697;
    text-decoration: none;
}

.effect-shine {
    text-decoration: none;
    color: white;
}

a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

/* responsive design for nav bar */
@media screen and (max-width: 1800px) {
    #icons {
        margin-right: 25%;
    }
}
/* On screens that are 1100px or less, set the background color to blue */
@media screen and (max-width: 1100px) {
    #icons {
        margin-right: 10%;
    }
    /*icons become smaller*/
    .icon {
        width: 35px;
    }
    /* title become smaller */
    .dogBoneIcon {
        width: 35px;
    }
    .websiteName {
        font-size: xxx-large;
    }
    /* image and username become smaller */
    .username {
        font-size: x-large;
    }

    .circle {
        width: 38px;
        height: 38px;
    }
}
/* On screens that are 900px or less, set the background color to blue */
@media screen and (max-width: 900px) {
    #icons {
        margin-right: 10%;
    }
    /*icons become smaller*/
    .icon {
        width: 35px;
    }
    /* title become smaller */
    .dogBoneIcon {
        width: 35px;
    }
    .websiteName {
        font-size: xxx-large;
    }
    /* image and username become smaller */
    .username {
        font-size: x-large;
    }

    .circle {
        width: 38px;
        height: 38px;
    }
}
/* On screens that are 800px or less, set the background color to blue */
@media screen and (max-width: 800px) {
    #icons {
        margin-right: 5%;
    }
    /*icons become smaller*/
    .icon {
        width: 30px;
    }
    /* title become smaller */
    .dogBoneIcon {
        width: 30px;
    }
    .websiteName {
        font-size: xx-large;
    }
    /* image and username become smaller */
    .username {
        font-size: larger;
    }

    .circle {
        width: 35px;
        height: 35px;
    }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #icons {
        margin-right: 0%;
    }
    /*icons become smaller*/
    .icon {
        width: 20px;
    }
}